

.formulario{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0% 15% 0% 15%;
}

.instrucciones{
    color: white;
    margin: 10px 25%
}

.input{
    display: flex;
    flex-direction: column;
    color:black;
    border-style: solid;
    border-color: black;
    background-color: rgb(70, 70, 70);
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(209, 200, 0) 0%, rgb(233, 248, 72) 50%, rgb(209, 200, 0) 100%);
    margin: 10px 20px 10px 20px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
    padding: 10px;
}

.listado{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
}

.listadopais{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
    font-size: 13pt;
}

.checkbox{
    display: flex;
    flex-direction: column;
    color:black;
    border-style: solid;
    border-color: black;
    background-color: rgb(70, 70, 70);
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(209, 200, 0) 0%, rgb(233, 248, 72) 50%, rgb(209, 200, 0) 100%);
    margin: 10px 20px 10px 20px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
    padding: 10px;
    margin: 25px 40% 25px 40%;
}

.select{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:black;
    border-style: solid;
    border-color: black;
    background-color: rgb(70, 70, 70);
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(209, 200, 0) 0%, rgb(233, 248, 72) 50%, rgb(209, 200, 0) 100%);
    margin: 10px 20px 10px 20px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
    padding: 10px;
    margin: 5px 40% 5px 40%;
}

.divcrear{
    margin: 5px 20% 25px 20%;
}

.crear{
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    font-weight: 700;
    line-height: 23px; 
    padding: 5px; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    font-family: Verdana, Geneva, sans-serif;; 
    background-image: linear-gradient(to right, rgb(136, 136, 136) 0%, rgb(58, 58, 58) 15%, rgb(49, 49, 49) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
    border: 2px solid rgb(0, 0, 0); 
    display: inline-block;
}

.crear:hover{
    background-image: linear-gradient(to right, rgb(255, 251, 0) 0%, rgb(237, 247, 134) 50%, rgb(255, 251, 0) 100%);
    color: black;
}

.error{
    color: rgb(194, 0, 0);
}