.contenedor{
    border-style: solid;
    border-color: black;
    background-color: rgb(70, 70, 70);
    border-radius: 25px;
    padding: 25px;
    background-image: linear-gradient(to right, rgb(136, 136, 136) 0%, rgb(90, 90, 90) 15%, rgb(14, 14, 14) 100%);
    margin: 10px 20px 10px 20px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
}

.imagen{
    width: 30vh; 
    height: 15vh;
    margin: 5px;    
    border-radius: 15px;
}

.country{
    color:white;
}

.continent{
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}