body{
    background-color: rgba(0, 0, 0, 0.973);
}

.landing{
    background: url('../media/fondo.png');
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 30%;
}

.bienvenida{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    font-style: italic;
    font-variant: small-caps;
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}

.boton{
    color: rgb(255, 255, 255); 
    font-size: 23px; 
    font-weight: 700;
    line-height: 23px; 
    padding: 11px; 
    border-radius: 10px; 
    font-family: Verdana, Geneva, sans-serif;; 
    background-image: linear-gradient(to right, rgb(136, 136, 136) 0%, rgb(58, 58, 58) 15%, rgb(14, 14, 14) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
    border: 2px solid rgb(0, 0, 0); 
    display: inline-block;}
.boton:hover {
    background-image: linear-gradient(to right, rgb(70, 65, 0) 0%, rgb(100, 109, 0) 15%, rgb(255, 251, 0) 100%);
    color: black;
}
.boton:active {
    background: #000000;
    color:rgb(255, 251, 0)
}
